<header class="header">
    <div class="row">
        <ul class="nav nav-pills pull-right">
            <li ng-class="{active : location == 'home'}"><a ng-href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li ng-class="{active : location == 'trending'}"><a ng-href="trending"><span class="glyphicon glyphicon-fire"></span> Trending</a></li>
            <li ng-class="{active : location == 'search'}"><a ng-href="search" ><span class="glyphicon glyphicon-search"></span> Search</a></li>
        </ul>
        <div class="pull-left">
            <img class="logoSizer" src="images/Google_Play_Store_96.png">
        </div>

        <div class="pull-left">
            <h3>Android App Finder</h3>
            <h5 class="text-muted subtext">Powered by 42 Matters.com</h5>
        </div>
    </div>
</header>
